.left-table {
    margin-top: 100px;
    margin-left: 0px;
}

html { 
  background: url('imgs\smartlife\wellup\banner.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}